.tradingview-widget-container{
    background-color: red;
}

tradingview-chart{
    position: absolute;
    
    width: 100% !important;
    height: 100% !important;
}
#tradingview_bac65{
    position: absolute;
    width: 100% !important; 
    height: 100% !important;
}