order-panel{
    height: 75vh;
    position: relative;
    padding: 2px;

}

.margin-mode{
    padding: 5px;
    margin: 5px;
    color: black;
    font-size: 12px;
    
}

.leverage-slider{
    position: relative;
    align-self: center;
    height: auto;
    width: 80%;
    margin: auto;
    font-size: 15px;
    color: black;

}