.col {
	padding: 20px 20px;
}

#home-grid {
	display: inline-grid;
	/* color: black; */
	gap: 3rem 2rem;
	grid-template-columns: repeat(2, 40vw);
	padding-bottom: 100px;
	padding-top: 20px
}

#home-grid a{
	text-decoration: none;
}

.homeCards:hover {
	box-shadow: 0 0 10px 1px rgba(255, 140, 140, 0.8);
	transform: scale(1.02);
	transition-duration: 300ms, 500ms;
	transition-property: transform, box-shadow;
}

#homeIntro{
	font-size: 18px;
}

@media screen and (max-width: 900px) {
	#home-grid {
		display: grid;
		/* color: black; */
		gap: 3rem 2rem;
		grid-template-columns: repeat(auto-fill, 100vw);
		padding-bottom: 100px;
		padding-top: 20px
	}
}
