<p-splitter [style]="{'height': 'calc(100vh - 46px)'}" [panelSizes]="[80,20]" [minSizes]="[10,0]" styleClass="mb-5" layout="vertical">
    <ng-template pTemplate>
        <p-splitter layout="horizontal" [panelSizes]="[80,20]">
            <ng-template pTemplate>
                <div class="col flex align-items-center justify-content-center" style="display: block !important; position: relative; padding: 0px; margin: 0.5%;">
                    <tradingview-chart></tradingview-chart>
                </div>
            </ng-template>
            <ng-template pTemplate>
                gjhg
            </ng-template>
        </p-splitter>
    </ng-template>    
    <ng-template pTemplate>
        abcd
    </ng-template>
</p-splitter>