@font-face {
  font-family: abel;
  src: "Abel-Regular.ttf";
  src: local('Abel-Regular'), url('./fonts/Abel-Regular.ttf') format('truetype');
}

.App {
  font-family:abel;
  flex-direction:column;
  display: flex;
}

.App-navigation{
  color:red;
}

.content {
  flex: auto;
  margin-top: 65px;
  height: 100%
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
